* {
  margin: 0;
  padding: 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000;
  color: white;
  padding: 10px 10px;
}
.logo {
  font-size: 24px;
  font-weight: bold;
}
.navbar .list_item {
  display: flex;
  list-style: none;
  gap: 10px;
}
.navbar .list_item li a {
  color: red;
  text-decoration: none;
}
.navbar .list_item li a:hover {
  color: rgb(232, 255, 22);
  text-decoration: none;
}
.box{
  width: 400px;
  height: 400px;
  background-color: gray;
}
.common{
    width: 100px;
    height: 100px;
}
.box1{
    background-color: blue;
}
.box2{
    background-color: rgb(34, 204, 223);
}
.box3{
    background-color: rgb(188, 188, 188);
}
.box4{
    background-color: rgb(255, 0, 0);
}

